name: Cypress Tests
# github pipeline trigger, when something gets pushed then... 
on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      #install npm dependencies, cache them correctly
      #and run all cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v5.2.0
        with:
          build: npm install
          start: npm run cypress:run