name: Cucumber Cypress Tests

# github pipeline trigger, when something gets pushed then... 
on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/


    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      #install npm dependencies, cache them correctly
      #and run all cypress tests
      - name: Cypress run
        uses: cypress-io/github-actions@v5
        with:
          build: npm install
          start: npm run cypress:run